<div class="dp azg">
  	<div class="azi">
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "aiq awx j" }) do |f| %>
		  	<%= devise_error_messages! %>

		  	<a href="<%= root_url %>" class="l agr">
        		<%= image_tag "brand.png" %>
      		</a>

		  	<div class="op">
        		<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
      		</div>

		  	<div class="agr">
		        <button class="cg pj">Submit</button>
	      	</div>

	      	<footer class="bte text-center">
        		<%= render "devise/shared/links" %>
      		</footer>
		<% end %>
  	</div>
</div>
